.SpotifyFooter {
	position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}

.SpotifyFooter > .footer_left{
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}

.SpotifyFooter > .footer_center{
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.SpotifyFooter > .footer_right{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer_left > img {
    height: 50px;
    width: 70px;
    margin-block-end: 20px;
    object-fit: contain;
}

.footer_icon:hover,
.footer_green:hover {
    transition: transform 0.2s ease-in-out;
    transform:scale(1.2) !important;
}

.footer_right * .MuiSlider-root {
    color: green;
}
.footer_songInfo {
    padding-left: 10px;
    align-items: center;
}
.OnRepeat,.OnShuffle {
    color: green;
}

.OnPlay {
    color: rgb(0, 153, 255);
}